:root {
    --color_background: hsl(0, 0%, 5%);
    --color_text: white;
    --color_border: hsl(0, 0%, 80%);
    --color_shadow: hsla(0, 0%, 100%, 0.5);
}

html {
    scroll-behavior: smooth;
}

body {
    /* font */
    font-family: "JetBrains Mono", sans-serif;
    color: var(--color_text);
    background-color: var(--color_background);

    /* page */
    margin: 2em;
    padding: 0;
}

p {
    text-indent: 1.5em;
}

.container_index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100dvh;
}

.container_index h1 {
    font-weight: 800;
    font-size: clamp(2rem, calc(2.8vh + 1.5rem), 5rem); /* min, preferred, max */
    color: var(--color_text);
    margin-top: -3em;
    line-height: 1.15;
}


.container_index h2 {
    font-weight: 400;
    font-size: clamp(0.5rem, calc(1vh + 1rem), 3rem);
    color: var(--color_text);
    line-height: 1.5;
    margin-top: -2.5rem;
}

.nav_bar {
    border: 2px solid var(--color_border);
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--color_shadow);
    width: auto;
    padding: min(1em, 5%);
    transition: transform 0.2s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav img {
    width: 2em;
    height: 2em;
}

footer {
    color: var(--color_text);
    font-weight: bold;
    text-align: center;
    margin-block-start: 5em;
}
